---
import { siteConfig } from "../../config"

export type Props = {
  title: string
  description: string
  url: string
  keywords?: string[]
  image?: string
  type?: "website" | "article"
}

const {
  title,
  description,
  url,
  keywords,
  image,
  type = "website",
} = Astro.props

const ogImage = image
  ? new URL(image, siteConfig.globalMeta.baseUrl).toString()
  : new URL(
      siteConfig.globalMeta.defaultOgImage,
      siteConfig.globalMeta.baseUrl,
    ).toString()
---

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={url} />
<meta property="og:type" content={type} />
<meta property="og:site_name" content={siteConfig.globalMeta.name} />
<meta property="og:image" content={ogImage} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImage} />
{keywords && <meta name="keywords" content={keywords.join(", ")} />}
<link rel="canonical" href={url} />
