---
import { siteConfig } from "../../config"

export type Props = {
  title: string
  description: string
  url: string
  keywords?: string[]
  image?: string
  type?: "website" | "article"
}

const {
  title,
  description,
  url,
  keywords,
  image,
  type = "website",
} = Astro.props
---

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={url} />
<meta property="og:type" content={type} />
<meta property="og:site_name" content={siteConfig.personal.name} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{keywords && <meta name="keywords" content={keywords.join(", ")} />}
{image && <meta property="og:image" content={image} />}
{image && <meta name="twitter:image" content={image} />}
<meta http-equiv="content-language" content="en" />
<meta name="language" content="English" />
<link rel="canonical" href={url} />
